body{
     font-family: Comfortaa, sans-serif;
}
nav a{
    font-size: 1.2rem;
    font-weight: 700;
}
.header{
    text-align: center;
    background-color: gray;
}
.header>h1, .header>h2{
font-size: 1.7rem;
}
.tsutata{ 
    font-size: 1.2rem;
    text-align: justify;
    background-color: rgb(182, 231, 208);
}
.container{
    margin-top: 1rem;
    box-shadow: 2px 2px 7px rgb(182, 231, 208);
}
@media only screen and (min-width: 668px) {
    .carousel-item{
        max-height:400px;
        background-position: 50% 50%;
    } 
}
